[Desktop Entry]
Type=Application
Exec=systemctl poweroff
Icon=/home/Benjaminemde/conf/icons/system-shutdown-symbolic.symbolic.png 
Terminal=false
Categories=System;

Name=Shutdown
GenericName=poweroff
Comment=Powers your PC off without any further confirmation
