[Desktop Entry]
Type=Application
Exec=systemctl reboot
Icon=/home/Benjaminemde/conf/icons/system-reboot-symbolic.symbolic.png 
Terminal=false
Categories=System;

Name=Restart
GenericName=reboot
Comment=Reboots your PC without any further confirmation
