/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #1F1F1FAA;
    background-alt: #282B31AA;
    foreground:     #FFFFFFAA;
    selected:       #61AFEFAA;
    active:         #98C379AA;
    urgent:         #E06C75AA;
}
